html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

.nav-pills .nav-link.active {
  background-color: #007bff; /* Changer la couleur de fond */
  color: white; /* Changer la couleur du texte */
}

.gradient-custom-2 {
    
  
  /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .gradient-text {
        background: linear-gradient(to right, rgba(55,126,234,1), rgb(199, 149, 32));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
    }

    .gradient-custom {
        /* fallback for old browsers */
        background: #377eea;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(55,126,234,1), rgb(199, 149, 32));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(55,126,234,1), rgb(199, 149, 32))
      }

      .gradient-hover {
        transition: background 0.4s ease;
      }
      
      .gradient-hover:hover {
        background: linear-gradient(to right, rgba(55,126,234,1), rgb(199, 149, 32));
        border-color: transparent;
        color: white;
      }

      .gradient-icon {
    background: linear-gradient(to right, rgba(55,126,234,1), rgb(199, 149, 32));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.mobile-text {
    font-size: 1rem;
    line-height: 1.4;
}

@media (min-width: 767px) {
    .mobile-text {
        font-size: 1.25rem;
        text-align: left;
        max-width: 400px;
        margin: auto;
    }
}
